body{
    box-sizing: border-box;
    margin: 0%;
    display: flex;
}

.main-side{
    height: 100%;
    width: 400px;
    overflow: hidden;
    position: relative;
}

.logo{
    background-color: coral;
    width: 100%;
    height: 85px;
    text-align: center;
}

.logo img{
    width: 200px;
}

.links, .social{
    margin: 9px;
}

.notes label{
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
    color: lightgray;
}

.notes input{
    margin: 5px;
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
    outline: none;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    border-color: rgb(218, 218, 218);
}

.mainlinks a{
    text-decoration: none;
    color: black;
    padding: 12px 10px;
    display: block;
}

.mainlinks a:hover{
    transition: 0.4s;
    background-color: lightgray;
}

.mainlinks h4{
    color: lightgray;
}

.showinfo span{
    display: block;
    padding: 12px 10px;
    /* background-color: gainsboro; */
    margin: 3px;
    cursor: text;
}

.showinfo span:hover{
    background-color: gainsboro;
}

.main-container{
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.greetings p{
    font-size: 2em;
}

.lineempty{
    background-color: orange;
    width: 100%;
    height: 1px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.main-links{
    display: flex;
    margin: 15px;
}

.main-links img{
    width: 150px;
    height: 150px;
    margin: 15px;
}

.main-links a{
    text-decoration: none;
    color:black;
}

.travelink, .sayslink, .musiclink, .homelink{
    padding: 15px 12px;
    font-size:21px;
}

.travelink:hover, .sayslink:hover, .musiclink:hover, .homelink:hover{
    transition: 0.5s;
    background-color: lightgray;
}

.movies h1{
    text-align: center;
    font-size: 1.8em;
}

.movies a{
    display: inline-flex;
    color: royalblue;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 19px;
}

.movies a:hover{
    transition: 0.5s;
    background-color: skyblue;
}

.main-container ul li, .previouswatched ul li, .disney ul li, .okkids ul li,.chicagopd ul li{
    padding: 12px 10px;
    color: white;
    background-color: dimgray;
    /* font-family: fantasy; */
    margin: 5px;
    display: inline-flex;
}

.watchedmovies ul h2, .previouswatched ul h2, .disney ul h2, .okkids ul h2,.chicagopd ul h2{
    text-align: center;
}

.disney a,.watchedmovies a, .previouswatched a, .okkids a,.chicagopd a{
    color: white;
    text-decoration: none;
}

.disney ul li:hover, .watchedmovies ul li:hover, .previouswatched ul li:hover, .okkids ul li:hover,.chicagopd ul li:hover{
    transition: 0.5s;
    background-color:gray ;
}

.games{
    display: inline-flex;
}

.games ul{
    display:flex;
    flex-direction: column;
}

.games ul li a{
    color: white;
    text-decoration: none;
}

.games ul li:hover{
    transition: 0.5s;
    background-color:gray ;
}

.Previously{
    display: inline-flex;
}

.nba2-5 ul li, .nba3-5 ul li, .ufc ul li{
    display: block;
}

.nba2-5 ul li a, .nba3-5 ul li a, .ufc ul li a{
    color: white;
    text-decoration: none;
}

.nba2-5 ul li:hover, .nba3-5 ul li:hover,.ufc ul li:hover{
    transition: 0.5s;
    background-color:gray ;
}

@media (device-width: 320px) {
    .main-container{
        width: 90%;
    }
}
