*{
    margin: 0;
}

body{
    background-color: aliceblue;    
}

.firsthead{
    margin: 0;
    width: 100%;
    height: 100px;    
    background-color:#283747;
    color: #DE354C;
    display: flex;
    align-content: center;
    justify-content: center;
}

.firsthead h1{
    margin: auto;
}

.navbar{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: #4D774E;
    margin: 0;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.navbar ul li{
    margin: 0 15px 0 15px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.navbar ul li:hover{
    background-color:#518c53;
    transition: 0.5s;
}

.navbar ul li a{
    color:#ffffff;
    text-decoration: none;
}

.main-container{
    display: flex;
}

.leftside{
    margin: 0;
    height: 100vh;
    width: 300px;   
    background-color: #0f2862;
    color: #DCC7AA;
    z-index: 55555;
}

.leftside ul{
    list-style: none;
}

.leftside ul li{
    padding: 20px 15px;
    cursor: pointer;
}

.leftside ul li a{
    text-decoration: none;  
    color: #ffffff;  
}

.leftside ul li ul li{
    padding: 15px 12px;
    background-color:#F7C331;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.sportlinks-ul,.code-needs-ul,.websites-ul,.social-ul,.movies-ul{display:none;}
.sportlinks:hover .sportlinks-ul,.code-needs:hover .code-needs-ul,.websites:hover .websites-ul,
.social:hover .social-ul,.movies:hover .movies-ul{display:contents;}
.movies-ul{color:#0f2862;}

.action-ul,.sports-ul,.crime-ul,.thriller-ul,.comdey-ul,.drama-ul{display:none;}
.movies-action:hover .action-ul,.movies-sports:hover .sports-ul,.movies-crime:hover .crime-ul,.movies-thriller:hover 
.thriller-ul,.movies-comdey:hover .comdey-ul,.movies-drama:hover .drama-ul{display:contents;}

.main-body{
    width: 100%;
}

.main-body img{
    height: 100%;
    width: 100%;    
}

@media only screen and (max-width: 900px) {
    .leftside{
    height: 100vh;
    overflow:scroll;
    }
    .sportlinks-ul,.code-needs-ul,.websites-ul,.social-ul,.movies-ul{
        display:block;
    }
    .action-ul,.sports-ul,.crime-ul,.thriller-ul,.comdey-ul,.drama-ul{
        display:block;
    }
}
